In [1]:
# import pandas as pd
# import numpy as np

In [2]:
# arr = np.random.randint(1,300,500)
# arr

# find out tha average of those elements that are greater than 50 and less than 150
# and also return the number of elements that satisfie our condition

In [3]:
# filt_arr = arr[(arr > 50) & (arr < 150)]
# avg = np.mean(filt_arr)
# count = filt_arr.size
# avg, count

In [4]:
# avg

In [5]:
# count

data frame create using dictionary

In [6]:
# import pandas as pd

# data = {
#     "name": ['ruchi', 'khushbu', 'jhunki', 'kumkum', 'vashnavi'],
#     "subject": ['physics', 'chemistry', 'computer science', 'maths', 'biology'],
#     "college": ['poornima', 'biet', 'loard', 'jecrc', 'smu']
# }

# data

In [7]:
# df = pd.DataFrame(data)
# print(df)

In [8]:
# type(df)

In [9]:
# pd.core.frame.DataFrame

In [10]:
# df['name']

In [11]:
# type(df['name'])

In [12]:
# df = pd.read_csv("Used_Bikes.csv")
# df

In [13]:
# type(df)

In [14]:
# df.info()

In [15]:
# data.shape     # info into row and columns

In [16]:
# df.dtypes

In [17]:
# df.head()  # top five data show on records

In [18]:
# df.tail() # last five record show

In [19]:
# df.head(10)

In [20]:
# df['city']   # datatype   --> series

In [21]:
#df['brand']

In [22]:
#df[['brand','age','price']]

In [23]:
#df[['bike_name','price']]

In [24]:
# loc and iloc
#df.loc[0:100,['bike_name','age','price']]

In [25]:
#df.loc[0:10]  # ending point are inclusive

In [26]:
# buke_name , price , city
#df.iloc[0:10,0:3]

In [27]:
#df.iloc[0:10]   #ending point are exclusive

In [28]:
# 500 -- 560 record filter  loc & iloc
# loc - brand,power, age
# iloc - owner, age , power

In [29]:
#df.loc[500:560]

In [30]:
#df.iloc[500:560]

In [31]:
#df.loc[500:560,['brand','power','age']]

In [32]:
#df.iloc[500:560,4:7]

In [33]:
# filterinng with condition
#df[df['price']<=50000]

In [34]:
#df[df['age']<=2]

In [35]:
#df['brand'].value_counts()

In [36]:
#df['city'].value_counts().keys()

In [37]:
#df['city'].unique()

In [38]:
#df['city'].nunique()

In [39]:
#df['owner'].value_counts()

In [40]:
# price <= 8500
# age <= 2 year
# owner == first owner
#filter_df = df[(df['price']<= 85000)&(df['age']<=2) & (df['owner']=='First Owner')]
#filter_df

In [41]:
#filter_df[filter_df['city']=='Jaipur']

In [42]:
#   only Royal Enfield data
#df['brand'].value_counts()

In [43]:
#   only Royal Enfield data
#df[df['brand']=='Royal Enfield']

In [44]:
# df = pd.read_csv("Used_Bikes.csv")
# df

In [45]:
# df.drop_duplicates(inplace=True)

In [46]:
# df.shape

In [47]:
# df['owner'].value_counts()

In [48]:
## column remove and add column
# df.drop('bike_name',axis='columns')   # to remove single column in data frame

In [49]:
# df.drop('bike_name','kms_driven',axis='columns')  # inplace + True

In [50]:
## Adding new columns  with scalar values
# df['demo'] = 'upflairs'   #

In [51]:
# df['kms_driven'] - 50

In [52]:
# drive a new column from exist column this is called feature engineering
# df['reduce_kms_driven'] = df['kms_driven'] - 50

In [53]:
# df

In [54]:
# "upfliars" + "PVt" + "ltd"

In [55]:
# df['bike_name_with_brand'] = df['bike_name'] +" "+  df['brand']
# df['bike_name_with_brand']

In [56]:
# df['bike_name'].dtype     #  object or string

In [57]:
# df

In [58]:
# df.drop(['demo','reduce_kms_driven','bike_name_with_brand'],axis=1, inplace=True)

# 1 == column
# 0 == row

In [59]:
# df.select_dtypes()     # categorical object and numerical
# df[['bike_name','city','owner','brand']]

In [60]:
# cat_col = df.select_dtypes(include= 'O')  # 'O' == object type
# cat_col.head()

In [61]:
# num_col = df.select_dtypes(exclude= 'O')  # 'O' == object type
# num_col.head()

In [62]:
# cat_col.shape

In [63]:
# num_col.shape

In [64]:
# to commbine multiple data 
# pd.concat([cat_col,num_col],axis=1)

In [65]:
# combined_df = pd.concat([num_col, cat_col], axis=1)
# combined_df.head()

In [66]:
# pd.merge()   h.w # join the data column

In [67]:
# df['owner'].value_counts()

In [68]:
# dt = {'First Owner':1,'Second Owner':2,'Third Owner':3,'Fourth Owner Or More':4}
# dt

## replace(1,2)

In [69]:
# for item in df['owner']:
#     print(dt[owner])

In [70]:
# df['owner'] = df['owner'].map(dt)
# df['owner']

## Missing value handling

In [71]:
import numpy as np
import pandas as pd

In [72]:
data = {'A':[2,4,5,np.nan,78,np.nan,8],
       'B':[12,14,np.nan,78,np.nan,8,55],
       'C':[np.nan,4,5,78,np.nan,8,63],
        'D':[2,4,5,500,78,11,8]}
data

{'A': [2, 4, 5, nan, 78, nan, 8],
 'B': [12, 14, nan, 78, nan, 8, 55],
 'C': [nan, 4, 5, 78, nan, 8, 63],
 'D': [2, 4, 5, 500, 78, 11, 8]}

In [73]:
sample = pd.DataFrame(data)
sample

      A     B     C    D
0   2.0  12.0   NaN    2
1   4.0  14.0   4.0    4
2   5.0   NaN   5.0    5
3   NaN  78.0  78.0  500
4  78.0   NaN   NaN   78
5   NaN   8.0   8.0   11
6   8.0  55.0  63.0    8

In [74]:
sample.isnull().sum()

A    2
B    2
C    2
D    0
dtype: int64

In [75]:
sample.isnull().sum().sum()

6